

/*table sorter*/
.tablesorter-pager .btn-group-sm .btn {
 font-size: 1.2em;
}
/*connection*/
.loginFrame {
    margin-left: -75px;
}

/*menu des langue*/
.flag {
    width: 18px;
    height: 12px;
    border: 0;
}
.no-lang {
    filter: grayscale(0%);
    -webkit-filter: grayscale(70%);
    -moz-filter: grayscale(0%);
}
.uk-en {
    background: url(../img/en.gif) no-repeat 0 50%;
}

.ch-fr {
    background: url(../img/fr.gif) no-repeat 0 50%;
}

.ch-de {
    background: url(../img/de.gif) no-repeat 0 50%;
}

.ch-it {
    background: url(../img/it.gif) no-repeat 0 50%;
}

/* gestion des avatar et signature*/
.account-avatar, .account-signature {
    border: 1px solid #cccccc;
    padding: 5px 5px 5px 5px
}
.account-avatar {
    width: 210px;
    height: 210px
}

.account-signature {
    width: 510px;
    height: 160px
}

.account-img {
    display: block;
    margin: auto;
}
/*getion de group*/
.oui {
    background-color: green;
    color: #ffffff;
}

.non {
    background-color: red;
    color: #ffffff;
}

/*complexité des mots de passe*/
#pswd_info {
    display: none;
}
#pswd_info_title {
    margin: 0 0 10px 0;
    padding: 0;
    font-weight: normal;
}
#pswd_info {
    position: absolute;
    z-index: 10;
    width: 300px;
    margin: auto;
    padding: 15px;
    background: #fefefe;
    font-size: .875em;
    border-radius: 5px;
    box-shadow: 0 1px 3px #ccc;
    border: 1px solid #ddd;
}

#pswd_info::before {
    content: "\25B2";
    position: absolute;
    top: -12px;
    left: 45%;
    font-size: 14px;
    line-height: 14px;
    color: #ddd;
    text-shadow: none;
    display: block;
}

/*message d'erreur pour la complexité des mots de passse et le retour d'ajax*/
.invalid {
    background: url(../img/invalid.png) no-repeat 0 50%;
    padding-left: 22px;
    line-height: 24px;
    color: #ec3f41;
}

.valid {
    background: url(../img/valid.png) no-repeat 0 50%;
    padding-left: 22px;
    line-height: 24px;
    color: #3a7d34;
}

/*menu de navigation*/
.MenuNav
{
    height: 49px;
}
.menuConnect
{
    margin-top: 3px;
}